.material {
  &__container {
    border-bottom: 1px solid grey;
    padding: 1rem 0;
  }

  &__grid_container {
    display: flex;
  }

  &__grid {
    display: flex;
  }

  &__grid_title {
    align-self: center;
  }
}
