.select {
  display: grid;
  height: 100%;
  font-family: 'Georgia', serif;
  font-size: 40px;

  &_ingredients {
    background-color: #FDDDE9;
    display: inline-flex;
    flex: 50%;
  }

  &_recipes {
    background-color: #F4EDE7;
    display: inline-flex;
    flex: 50%;
  }
}
